<div class="jumbotron">

<h1>Teacher Tracker</h1>


</div>
<form action="/periods" method="post" >
  <input type="text" name="name" placeholder="Period" autofocus="true" required>
  <button name="submit" class="btn btn-warning">Add Period</button>
</form>

<ul>
  <% if @periods.any? %>
  <% @periods.each() do |period| %>
  <li><a href="/period/<%= period.id() %>"><%= period.name() %></a></li>
  <% end %>
  <% else %>
  <p>
    You dont have a period
  </p>
<% end %>
  </ul>

<form action="/students" method="post" required>
  <input type="text" name="name" placeholder="Student Name" required>
  <input type="text" name="birthday" placeholder = "day/month/year" required>
  <button name="submit" class = 'btn btn-info'>Add Student</button>
</form>

<ul>
  <% if @students.any? %>
  <% @students.order('name ASC').each() do |student| %>
  <li><a href="/student/<%= student.id() %>"><%= student.name() %></a> Birthday: <%= student.birthday() %></li>
  <% end %>
  <% else %>
  <p>
    You dont have any students
  </p>
<% end %>
  </ul>
