<h1>Edit <%= @student.name() %></h1>

<form action="/student/<%= @student.id %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="new_name" placeholder="Edited Name" required>
  <button name="submit" class="btn-success">Edit Name</button>
</form>

<form action="/student/<%= @student.id() %>" method="post" required>
  <select name="period" type = "text">
    <% @periods.each() do |period| %>
    <option value="<%= period.id() %>"> <%= period.name() %> </option>
  <% end %>
  </select>

  <button name="submit" class="btn btn-success">Add Period</button>
  </form>

<h3>Periods the Student has</h3>
  <ul>
      <% @student.periods.each() do |period| %>
      <li><a href="/period/<%= period.id() %>"><%= period.name %></a></li>
      <% end %>
  </ul>

<% if @student.periods.any? %>
  <form action="/student/<%= @student.id() %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <select name="period" type = "text">
      <% @student.periods.each() do |period| %>
      <option value="<%= period.id() %>"> <%= period.name() %> </option>
    <% end %>
    </select>
    <button name="submit" class="btn btn-danger">Delete Period</button>
    </form>
<% else %>
<p>
    No students yet!
</p>
<% end %>
<form action="/student/<%= @student.id()%>" method="post">
    <input type="hidden" name="_method" value="delete">
      <button class="btn btn-danger" type= "submit">Delete Student</button>
  </form>
